.page {
  display: flex;

  .nav {
    position: fixed;
    display: initial;
    background-color: white;
    z-index: 1;

    .nav-link {
      color: #0072ee;
    }

    @media (max-width: 767px) {
      display: flex;
      justify-content: center;
    }
  }

  .container {
    margin-top: 30px;
    padding: 0 30px;

    @media (max-width: 767px) {
      margin-top: 80px;
    }

    .card {
      width: 100%;
      margin-bottom: 50px;
      img {
        padding: 20px;
        height: 280px;
        width: auto;
      }

      .card-body {
        .card-title {
          font-size: 20px;
        }
      }
    }
  }
}
